[submodule "suPAErnova_data"]
	path = examples/suPAErnova_data
	url = git@github.com:OmegaLambda1998/suPAErnova_data.git
[submodule "tests/suPAErnova_data"]
	path = tests/suPAErnova_data
	url = git@github.com:OmegaLambda1998/suPAErnova_data.git
