[filter "jupyternotebook"]
    clean = uv run --no-default-groups --group rocm --with jupyter jupyter nbconvert --to=notebook --ClearOutputPreprocessor.enabled=True --stdout %f
    required
    smudge = cat
